#Contracts
contracts/node_modules
contracts/.secrets.ts
contracts/package-lock.json
contracts/deployments
contracts/typechain-types
contracts/coverage
contracts/artifacts
contracts/cache
contracts/.ipynb_checkpoints
contracts/.env
contracts/coverage.json

#Frontend
frontend/node_modules
frontend/.secrets.ts
frontend/package-lock.json
frontend/deployments
frontend/typechain-types